<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <meta name="description" content="{{ $.Site.Params.Description }}">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-57x57.png" sizes="57x57" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-60x60.png" sizes="60x60" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-72x72.png" sizes="72x72" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-76x76.png" sizes="76x76" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-114x114.png" sizes="114x114" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-120x120.png" sizes="120x120" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-144x144.png" sizes="144x144" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-152x152.png" sizes="152x152" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-180x180.png" sizes="180x180" type="image/png">
    <link rel="icon" href="favicon.png?v=2" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}<link href="{{ relURL . }}" rel="stylesheet">{{ end }}
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://hby.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/hby.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>
  {{range .Pages}}
  <a href="{{.Permalink}}">{{.Permalink}}</div>
  {{end}}
  <div class="main">
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

  </div>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
