<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base
    href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  <meta name="description" content="{{ $.Site.Params.Description }}">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-57x57.png" sizes="57x57" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-60x60.png" sizes="60x60" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-72x72.png" sizes="72x72" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-76x76.png" sizes="76x76" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-114x114.png" sizes="114x114" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-120x120.png" sizes="120x120" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-144x144.png" sizes="144x144" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-152x152.png" sizes="152x152" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-icon-180x180.png" sizes="180x180" type="image/png">
  <link rel="icon" href="favicon.png?v=2" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {{ if .Site.IsServer }}

  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") | fingerprint }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" data>

  {{ else }}

  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js")  | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  {{ end }}
  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  {{ partial "analytics.html" . }}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

</head>

<body class="leading-tight px-2">
  <div class="main">
    {{ block "header" . }}{{ partial "header" . }}{{end}}
    {{ block "main" . }}{{end}}
  </div>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

</body>

</html>