<div class="w-full rounded bg-yellow-300 p-5 sm:p-2 my-5">
    <div class="max-w-xl mx-auto">
        <div class="flex flex-col text-2xl text-gray-900">
            <div class="text-6xl">😷</div>
            <div class="text-xl sm:text-3xl font-bold mt-5 pixelLetter">Assistance
                d'urgence gratuite</div>
        </div>

        <div class="max-w-xl mx-auto my-10">
            <p class="mt-5 font-bold">Vous êtes free lance, TPE et votre activité est menacée par le confinement
                obligatoire.</p>
            <ul>
                <li> Vous devez rapidement passer au télétravail sans avoir eu le temps de vous préparer et vous avez
                    de
                    nombreuses
                    questions (outils, usages, ..).
                </li>
                <li> Vous voulez publier rapidement des informations sur votre offre (service / produit) sur un site
                    avec
                    quelques pages
                </li>
            </ul>
            <p class="mt-5 font-bold">Nous offrons nos services pour régler les problèmes critiques</p>
            <ul>
                <li>Soit avec des visioconf pour parler des outils / méthodes de télétravail (que nous pratiquons
                    quotidiennement depuis 6 ans)</li>
                <li>Soit en réalisant un mini site statique pour publier vos informations vitales</li>
            </ul>
            <p class="mt-5 font-bold">Contactez nous</p>
            <div class="p-2 bg-yellow-50 rounded mt-5">
                <form name="covidcontact" class="form" method="POST" data-netlify="true">
                    <div class="">
                        <div class="text-xs">Votre email + nom</div>
                        <input type="text" name="name" placeholder="Votre nom" />
                    </div>
                    <div class="">
                        <div class="text-xs">Votre message</div>
                        <textarea class="textarea" name="message" placeholder="Votre message"></textarea>
                    </div>
                    <div>
                        <button class="button w-full mt-2" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>