<div class="w-full rounded bg-gray-100 p-4 sm:p-10 my-5">
    <div class="max-w-xl mx-auto">
        <div class="flex flex-col text-2xl text-gray-900">
            <h2>Edition de produits numériques</h2>
        </div>
        <div class="text-gray-600 text-lg">
            <p>
                Editeurs de nos propres applications web depuis 2013 nous proposons aujroud'hui de nous associer avec
                des porteurs de projets pour éditer leurs idées.
                Nous sommes spécialisés dans les outils pour professionnels et souhaitons nous consacrer exclusivement à
                ce type d'application.
            </p>
            <!-- <p><strong>Comment repérer une bonne idée pour une application professionnelle ?</strong></p>
            <p>
                Il faut être attentif aux gens qui râlent de devoir maintenir et partager un immense fichier Excel
                !<br />
                C'est généralement le signe d'une opportunité pour créer une application web. <br />
                Internet est l'outil parfait pour manipuler et partager des données à plusieurs. Mais, très souvent,
                c'est Excel qui est le premier outil
                sur lequel on met la main lorsqu'on doit travailler ces fameuses informations. <br />
                Rapidement, il montrera ses limites et c'est là qu'il faut imaginer une solution en ligne.
            </p> -->
        </div>
        <div class="text-6xl sm:text-3xl">⌨️ 📐</div>
    </div>
</div>