<div class="w-full rounded bg-gray-100 p-4 sm:p-10 my-5">
    <div class="max-w-xl mx-auto">
        <div class="flex items-center mb-5 justify-start text-2xl text-gray-900">
            <h2>Ce que nous avons fait pour les autres</h2>
        </div>
        {{ range where (where (.Site.RegularPages.ByParam "year").Reverse "Section" "projects") "Params.type" "!=" "product" }}
        <a class="no-underline" href="{{.Permalink}}">
            <div
                class="p-10 mb-4 rounded bg-gray-900 hover:bg-gray-800 cursor-pointer transition duration-500 ease-in-out">
                <h3 class="text-lg font-semibold  text-brand-300">
                    {{ .Title }}
                    <div class="text-gray-200 text-xs">{{.Params.Year}}</div>
                </h3>
                <div class="text-gray-600 text-xs ">{{.Params.Subtitle}}</div>
                <div class="text-yellow-200 text-sm  mt-5">{{.Params.Description}}</div>
                <div class="text-gray-300 text-xs font-normal  mb-5">{{.Params.Mission}}</div>
            </div>
        </a>
        {{ end }}
    </div>
</div>