{{ define "main" }}

{{ partial "hero.html" . }}

<div class="w-full rounded p-0 sm:p-5 my-5">
    <div class="max-w-xl mx-auto flex items-center">
        <h1>Nos services</h1>
        <span class="mr-2">{{ partial "svg/bolt.svg" . }}</span>
    </div>
</div>
{{ partial "edition.html" . }}

{{ partial "takeaway.html" . }}
<div class="w-full rounded p-5 sm:p-2 my-5">
    <div class="max-w-xl mx-auto flex items-center">

        <h1>Nos réalisations</h1>
                <span class="mr-2">{{ partial "svg/bolt.svg" . }}</span>
    </div>
</div>

{{ partial "ourproducts.html" . }}

{{ partial "otherproducts.html" . }}

<div id="contactus" class="w-full rounded bg-white p-4 sm:p-10 my-5">
    <div class="max-w-xl mx-auto">
        <span class="mr-2">{{ partial "svg/bolt.svg" . }}</span>
        <h2>Nous contacter</h2>
        <form name="contact" class="form" method="POST" data-netlify="true">
            <div class="text-xs font-semibold mb-2">
                <input class="input" type="text" name="name" placeholder="Votre nom" />
            </div>
            <div class="">
                <textarea class="textarea" name="message" placeholder="Votre message et moyen de contact"></textarea>
            </div>
            <div>
                <button class="button w-full mt-2" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
</div>



{{ end }}