{{ define "main" }}
<div class="Header flex items-center justify-center ">
    <img class="shadow rounded-full" src="/logoblackred.png" alt="">
</div>

<div class="Hero  mb-20 max-w-xl mx-5 sm:mx-auto  text-gray-900 p-10">
    <h1 class="my-10 text-5xl text-center"><span class="pixelLetter">Salut! Nous sommes HBY </span></span></h1>
    <h1 class="my-10 ">Nous conçevons des produits pour le web, c'est sympa de passer 👋 !</h1>
    <p>Nous sommes à l'intersection entre le développement, le design et le marketing avec pour seul objectif <mark class="yellow">de fabriquer des choses utiles</mark> pour vous et vos clients.

    </p>
    <p>
        Nous sommes éditeurs de nos propres solutions Saas et nous proposons de vous accompagner pour réaliser les vôtres en nous basant sur notre expérience.
    </p>
    <p>
        Nous pouvons vous <span class="font-bold">conseiller</span>, vous <span class="font-bold">former</span> ou <span class="font-bold">fabriquer</span>. Si nous ne pouvons pas vous apporter de plus-value nous vous le dirons très tôt et toujours avant de facturer quoique ce soit :)
    </p>
</div>

<div class="my-20 max-w-3xl mx-5 md:mx-auto">
    <img class="mx-auto" src="/images/bolt.png" alt="">
    <h2 class="text-xl font-bold my-5 text-center">Nos produits</h2>
    {{ range where .Pages "Params.type" "product" }}
    <a href="{{.Permalink}}">
        <div class=" p-10 mb-4 rounded bg-gray-900 hover:bg-blue-900 cursor-pointer">
            <h3 class="text-lg font-bold text-center text-yellow-600">
                {{ .Title }}
                <div class="text-gray-800">{{.Params.Year}}</div>
            </h3>
            <div class="text-gray-600 text-xs text-center">{{.Params.Subtitle}}</div>
            <div class="text-yellow-500 text-sm text-center mt-5">{{.Params.Description}}</div>
            <div class="text-gray-300 text-xs font-normal text-center mb-5">{{.Params.Mission}}</div>
        </div>
    </a>
    {{ end }}
</div>
<div class="Work my-20 max-w-3xl mx-5 sm:mx-auto">
    <img class="mx-auto" src="/images/bolt.png" alt="">
    <h2 class="text-xl font-bold my-5 text-center">Vos produits</h2>
    {{ range where (.Pages.ByParam "year").Reverse "Params.type" "!=" "product" }}
    <a href="{{.Permalink}}">
        <div class=" p-10 mb-4 rounded bg-gray-900 hover:bg-blue-900 cursor-pointer">
            <h3 class="text-lg font-bold text-center text-yellow-600">
                {{ .Title }}
                <div class="text-gray-800">{{.Params.Year}}</div>
            </h3>
            <div class="text-gray-600 text-xs text-center">{{.Params.Subtitle}}</div>
            <div class="text-yellow-500 text-sm text-center mt-5">{{.Params.Description}}</div>
            <div class="text-gray-300 text-xs font-normal text-center mb-5">{{.Params.Mission}}</div>
        </div>
    </a>
    {{ end }}
</div>


<div class="my-20 max-w-3xl mx-5 sm:mx-auto">
    <img class="mx-auto" src="/images/bolt.png" alt="">
    <div class="text-xl font-bold my-5 text-center">Nous contacter</div>
    <form name="contact" class="form" method="POST" data-netlify="true">
        <div class="text-xs font-semibold mb-2">
            <input class="input" type="text" name="name" placeholder="Votre nom"/>
        </div>
        <div class="">
            <textarea class="textarea" name="message" placeholder="Votre message et moyen de contact"></textarea>
        </div>
        <div>
            <button class="button w-full mt-2 bg-gray-800" type="submit">Envoyer</button>
        </div>
    </form>
</div>

{{ end }}
