{{ define "main" }}
<div class="flex items-center justify-center bg-gray-100">
    <img src="/logoblackred.png" alt="">
</div>
<div class="text-center w-full p-5 mb-10">
    <div class="font-light text- ">Conception de produits numériques</div>
</div>
<div class="my-20 max-w-3xl mx-5 sm:mx-auto">
    <div class="text-xl font-bold my-5 text-center">Services</div>

    <p>
        Nous accompagnons les porteurs de projets, internes comme externes, dans la conception de leurs projets
        numériques.
    </p>
    <p>
        Forts de notre propre expérience comme <a href="https://pilot.pm">éditeur d'application web métier</a> nous
        proposons des conseils basés sur des faits avérés.
    </p>
</div>

<div class="my-20 max-w-3xl mx-5 sm:mx-auto">
    <div class="text-xl font-bold my-5 text-center">Projets</div>
    {{ range (.Pages.ByParam "realisation") }}
    <a href="{{.Permalink}}">
        <div class=" p-10 mb-4 rounded bg-gray-900 hover:bg-gray-800 cursor-pointer">
            <h3 class="text-lg font-bold text-center text-yellow-600">
                {{ .Title }}
                <div class="text-gray-800">{{.Params.Year}}</div>
            </h3>
            <div class="text-gray-600 text-xs text-center">{{.Params.Subtitle}}</div>
            <div class="text-yellow-500 text-sm text-center mt-5">{{.Params.Description}}</div>
            <div class="text-gray-300 text-xs font-normal text-center mb-5">{{.Params.Mission}}</div>
        </div>
    </a>
    {{ end }}
</div>


<div class="my-20 max-w-3xl mx-5 sm:mx-auto">
    <div class="text-xl font-bold my-5 text-center">Nous contacter</div>
    <form name="contact" class="form" method="POST" data-netlify="true">
        <div class="text-xs font-semibold mb-2">
            <input class="input" type="text" name="name" placeholder="Votre nom"/>
        </div>
        <div class="">
            <textarea class="textarea" name="message" placeholder="Votre message et moyen de contact"></textarea>
        </div>
        <div>
            <button class="button w-full mt-2" type="submit">Envoyer</button>
        </div>
    </form>
</div>

{{ end }}
