
$body-size: 20px;
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


@import '~bulma/bulma.sass';
@import "./colors.scss";


h1, h2, h3, h4, h5, h6 {
    color:$grey900;
    text-rendering: optimizeLegibility;
}

h1 {
    @apply text-2xl text-gray-800 font-bold leading-loose;
}

h2 {
    @apply text-xl text-gray-800 font-semibold leading-loose;
}

html {
    height: 100%;
}


body {
    background-image: url(/svg/wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.input,
.textarea {
    @apply bg-white border border-gray-200;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    &::placeholder {
        @apply text-gray-600 font-semibold;
    }
}


%control {
    align-items: center;
    border-radius: 3px;
    border-width: 0px;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    height: 2.28571em;
    justify-content: center;
    line-height: 2.28571em;
    padding: 0px 8px;
    position: relative;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    vertical-align: top;
    white-space: nowrap;
}

.button {
    @extend %control;
    @apply text-base bg-gray-200;
    &:hover{
        @apply bg-purple-200;
    }
}

.button.is-menu{
    justify-content: flex-start;
    width:100%;
}

.button.is-small {
    @apply font-medium text-sm;
}

.button.is-lg {
    @apply text-lg font-normal;
}

.button.is-white {
    @apply bg-white text-gray-800 ;
}

.button.is-white.is-active, .button.is-white:hover {
    @apply bg-gray-100;
}

.button.is-primary {
    @apply bg-blue-600 border-blue-600 text-white;
}

.button.is-primary:hover {
    @apply bg-blue-500;
}

.button.is-warning {
    @apply bg-orange-600 border-orange-600 text-white;
}

.button.is-warning:hover {
    @apply bg-orange-500;
}

.button.is-danger {
    @apply bg-red-600 border-red-600 text-white;
}

.button.is-danger:hover {
    @apply bg-red-500;
}

.button.is-danger-inverted {
    @apply bg-white  text-red-900;
}

.button.is-danger-inverted:hover {
    @apply bg-red-800 text-white;
}

.button.is-success {
    @apply bg-green-600 border-green-600 text-white;
}

.button.is-success:hover {
    @apply bg-green-500;
}

.button:focus{
    outline: none;
}

